* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

header,
main {
  max-width: 1290px;
  margin: auto;
  padding: 0 25px;
}
main {
  position: relative;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  color: var(--text-tertiary);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo {
  height: 50px;
}
