.button {
  padding: 23px 20px;
  color: white;
  border: none;
  background-color: var(--bg-primary);
  border-radius: 5px;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--bg-secondary);
  color: black;
}
.button--submit {
  padding: 20px 50px;
  font-size: 18px;
}
