.photographers-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 7.6%;
  margin: 100px 0;
}
.photographers-section article {
  padding: 0 35px;
  margin-bottom: 80px;
  text-align: center;
}
.photographers-section article a {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.photographers-section article h2 {
  margin-top: 20px;
  color: var(--text-primary);
  font-size: 36px;
}
.photographers-section article img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.photographers-section article p span {
  display: block;
}
.photographers-section__location,
.photographers-section__tagline {
  margin-bottom: 3px;
}
.photographers-section__location {
  font-size: 13px;
  line-height: 17px;
  color: var(--text-tertiary);
}
.photographers-section__tagline {
  font-size: 10px;
  line-height: 13px;
  color: black;
}
.photographers-section__price {
  font-size: 9px;
  line-height: 12px;
  color: #757575;
}
