.photographer-gallery-lightbox {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0;
  transition: 0.2s;
}
.photographer-gallery-lightbox--visible {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.photographer-gallery-lightbox__container {
  display: block;
  position: relative;
  margin: auto;
  top: 50%;
  width: 72%;
  height: 80%;
  text-align: center;
  transform: translateY(-50%);
}
.photographer-gallery-lightbox__container-media {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}
.photographer-gallery-lightbox__container-media img {
  width: auto;
  height: auto;
  max-width: 72vw;
  max-height: 80vh;
  object-fit: unset;
}
.photographer-gallery-lightbox__container-media video {
  width: 100%;
  height: 56.25%;
  object-fit: unset;
}
.photographer-gallery-lightbox__container-media h3 {
  display: inline-block;
  position: absolute;
  bottom: -12px;
  left: 0;
  font-size: 24px;
  line-height: 31px;
  color: var(--text-tertiary);
  transform: translateY(100%);
}
.photographer-gallery-lightbox__close {
  position: absolute;
  top: 15px;
  right: -70px;
}
.photographer-gallery-lightbox__arrow--left,
.photographer-gallery-lightbox__arrow--right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.photographer-gallery-lightbox__arrow--left {
  left: -60px;
}
.photographer-gallery-lightbox__arrow--right {
  right: -60px;
}
